doctype html
html
    head

        block page-title
            title='Blank Page'

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')

        block styles
            //- Styles here!

        body

            header
                block header-content

            main
                block main-content

            footer
                block footer-content

            block scripts
                //- Scripts hereé